.root {
	-fx-font-family: "Tahoma";
	-fx-text-fill: #333333;
	
	-fx-background-color: #ecf0f1;
	
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.warning-label {
	-fx-text-fill: #e74c3c;
}

.dialog {
	-fx-background-color: white;
}

.hbox {
	-fx-background-color: #2ecc71;
	-fx-background-radius: 2;
}

.panel {
	-fx-background-color: white;
	-fx-background-radius: 4;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 9, 0, 0, 2);
}

/** LIST VIEW */
.list-view {
	-fx-background-color: white;
	-fx-border-color: #95a5a6;
	-fx-border-radius: 3;
	-fx-border-width: 2;
}

.list-cell:selected {
    -fx-background-color: #66ccff;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

/** TEXTFIELD */

.text-field {
	-fx-background-color: white;
	-fx-border-color: #95a5a6;
	-fx-border-radius: 2;
	-fx-border-width: 2;
}

.text-field:focused {
	-fx-border-color: #2ecc71;
}

/* BUTTON */

.button {
    -fx-background-radius: 2;
    -fx-background-color: #34495e;
    
	-fx-text-fill: white;
	-fx-font-size: 15;
	-fx-padding: 8 8 8 8;
	
	-fx-pref-width: 300px;
	
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 9, 0, 0, 6); 
}

.button.button-warn {
	-fx-background-color: #f1c40f;
}

.button.button-confirm {
	-fx-background-color: #e74c3c;
}

.button.button-continue {
	-fx-background-color: #2ecc71;
}

.button.button-continue:pressed {
	-fx-background-color: #27ae60;
}

.button.button-warn:pressed {
	-fx-background-color: #f39c12;
}

.button.button-confirm:pressed {
	-fx-background-color: #c0392b;
}

.button:pressed {
	-fx-background-color: #95a5a6;
}

/** TABLE */

.table-view {
	-fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #ecf0f1;
    -fx-background-radius: 5 5 0 0;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #95a5a6;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #1a1a1a;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #ffffff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #f2f2f2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #66ccff;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}