.root {
	-fx-font-family: "Tahoma";
	-fx-text-fill: #333333;
	
	-fx-background-color: white;
}

.button {
	-fx-background-color: #455569;
	-fx-background-radius: 4;
	-fx-border-color: #2D3845;
	-fx-border-radius: 0 0 4 4;
	-fx-border-width: 0 0 3 0;
	-fx-text-fill: #C7DBF4;
	-fx-font-size: 13;
	-fx-padding: 6 15 6 15;
}

.button:hover {
	-fx-background-color: #51647b;
}

.button:pressed {
	-fx-border-width: 0;
}

.table-view {
	-fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: #ecf0f1;
    -fx-background-radius: 5 5 0 0;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #95a5a6;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #1a1a1a;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #ffffff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #f2f2f2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #66ccff;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}